<!DOCTYPE html>
<html>
<head>
  <title>Privydo</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= flash[:notice] %>
  <div id="notice"></div>
<%= yield %>

</body>
</html>
