<!DOCTYPE html>
<html>
  <head>
    <title>irontask</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <style type="text/css" media="screen">
      p {
        border: 1px solid #000;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>

    <div id="footer-container">
      <div class="row">
        <div class="column grid_10">
          <div class="rubbish">
          </div>
          <div id="footer">
            <ul>
              <li><a>&copy; Jumpwire Limited 2011</a></li>
              <li><a>Terms and Conditions</a></li>
              <li><a>Privacy policy</a></li>
              <li><a>Contact</a></li>
            </ul>
          </div> 
        </div>
      </div>
    </div>
    <div id="content">    
      <div class="row border"> 
        <div class="column grid_10">
          <div id="topbar">
            <div id="logout">
              <% if user %>
                <%= URI.escape user.username %>
                <%= link_to '(sign out)', session_path, :method => :delete %>
              <% end %>
            </div>

            <div id="logo">
              <a href="/"><img src="/assets/logo2.png"></a>
            </div>
            <div id="navigation"> 
              <ul>
                <li><%= link_to "Home", root_path %></li>
                <% if user %> <li><a href="#">My Settings</a></li> <% end %>
                <li><a href="#">Help</a></li>
              </ul>
            </div>
          </div>
          <div id="notice-container">
            <div id="notice-bar">
              <div class='notice-content'><%= flash[:error] || flash[:notice] %></div>
            </div>
            <% if flash[:notice] %>
              <script>
                new IronTask.Views.Notice( {message: '<%= flash[:notice] %>'});
              </script>
            <% elsif flash[:error] %>
              <script>
                new IronTask.Views.Error( {message: '<%= flash[:error] %>'});
              </script>
            <% end %>
            <div class="rubbish">
            </div>
          </div>
        </div>  
      </div>
      <%= yield %>
    </div>
  </body>
</html>
